{% extends 'users/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<br><br>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/fc1e235b2e.js"></script>
    <link rel="stylesheet" href="{% static 'images/style.css' %}">
    <title>Hello, Kindly update your Profile</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-data">
                    <form action="{% url 'index' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form updateprofile %}
                        <div class="form-group">
                            <button class="form-btn" type="submit" value="Update">Update Profile</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</body>
</html>
<br><br><br><br><br><br><br><br><br>
{% endblock %}