{%extends 'base.html'%}
{% block content %}
<div class="media content-section card" style="margin-left: 5%;">
  {% for comment in comments %}
  <div class="d-flex">
    <div class="responsive" style=" width: 100%; height: auto;">
      {{ comment.comment}}
    </div>
    <h5 class="ml-2 pt-3">
      <small><strong>{{post.user}}</strong></small>
    </h5>
  </div>

  {% endfor %}
</div>
<form method="POST" action="" style="width:90%">
  {% csrf_token %}
  <div class="d-flex ">
    <div class="input-group w-75">
      <input type="text" name="comment" class="w-100" placeholder="Add a comment">
    </div>
    <div class="input-group w-25">
      <button class="btn btn-light ms-auto text-secondary">Post</button>
    </div>
  </div>
</form>
{% endblock %}