{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/6.1.1/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<!-- *****************STORY SECTION**************** -->
<section class="content container">
    <div class="pt-1"></div>
    <div class="row row-cols-lg-3 rows-cols-2 logo-grid">
        <div class="col-md-6 col-sm-6 col-lg-6">
            <!-- **********************POST SECTION********************** -->
            <div class="media content-section card" style="margin-left: 5%;">
                {% for post in posts %}
                <div class="d-flex">
                    <div class="responsive" style=" width: 100%; height: auto;">
                        <img class="rounded-circle article-image" src="{{post.user.profile.image.url}}" alt=""
                            width="45" height="45">
                    </div>
                    <h5 class="ml-2 pt-3">
                        <small><strong>{{post.user}}</strong></small>
                    </h5>
                </div>
                <p></p>
                <div class="img-responsive">
                    <img class="image-responsive" src="{{ post.picture.url }}"
                            alt="Post" style="width: 100%; height: 348px; object-fit: cover;">
                    <p></p>
                    <div class="d-flex">
                        <div class="like-button ml-3">
                            <a href="{% url 'like' operation='like' pk=post.id%}"><img
                                    src="{% static 'images/love.png' %}" alt="" width="25"></a>
                        </div>
                        <div class="comment-button ml-3">
                            <a href="#"><img src="{% static 'images/comment.png' %}" alt=""
                                    width="25"></a>
                        </div>
                         <div class="send-button ml-3">
                             <a href="#"><img src="{% static 'images/send.png' %}" alt="" width="25"></a>
                         </div>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="like-section">
                        {% if post.likes >= 1 %}
                        <label class="ml-3">Liked by: {{post.likes}}</label>
                        {% endif %}
                        <p><strong class="ml-3">{{post.user}} </strong>{{post.caption}}</p>
                    </div>
                    </div>

                        {% block scripts %}
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                        {% bootstrap_javascript %}
                        {% endblock %}
                    
                    {% for comment in comments %}
                    {{comment.comment}}
                    {{ post.comment.comment}}
                    {% endfor %}

                <small class="text-muted ml-3">{{ post.posted|timesince }} ago</small>
                <p></p>
                
                <form method="POST" action="" style="width:90%">
                    {% csrf_token %}
                    <div class="d-flex ">
                        <div class="input-group w-75">
                            <input type="text" name="addcomment" class="w-100" placeholder="Add a comment">
                        </div>
                        <div class="input-group w-25">
                            <button class="btn btn-light ms-auto text-secondary">Post</button>
                        </div>
                    </div>
                </form>
                <hr>
                {% endfor %}
            </div>
            <p></p><br>
        </div>


    <!-- **********SIDE MENU********* -->
    <div class="col-md-6 col-sm-6 col-lg-6">
        <div class="sidebar-right">
            <div class="pt-4"></div>
            <div class="sidebar sidebar-sticky" style="padding: 5 40px;margin-top: 10%; position: fixed;">
                <div class="d-flex">
                    <div class="d-flex">
                        <div class="user-image ml-2">
                            <img class="rounded-circle article-image" src="{{request.user.profile.image.url}}" alt=""
                                width="48" height="48">
                        </div>
                        <h5 class="user ml-2 pt-2">
                            <small><strong>{{post.user}}</strong></small>
                        </h5>
                    </div>
                    <div class="username ml-3 pt-2" style="color: black;text-decoration: none;">
                        <span>{{user.username}}</span><br>
                        <span class="text-secondary">{{user.username}}</span>
                    </div>
                     <div class="form-group ml-3 pt-2">
                         <a href="{% url 'new_profile' %}"><button class="form-btn btn-md" type="submit"
                                 value="Update">Add Profile</button></a>
                    </div>

                </div>
                <br>
                <div class="d-flex">
                    <div class="side-menu__suggestions-header">
                        <h6 class="text-secondary">Suggestions for You</h6>
                    </div>
                    <div class="see_all ml-4"></div>
                    <div class="see_all ml-5">
                        <small><a class="user-button" style="color: black;text-decoration: none;">see all</a></small>
                    </div>
                </div>
                <br>
                <div class="side-menu__suggestions-content">
                    {% for user in users %}
                    {% if user != current_user %}
                    <div class="side-menu__suggestion">
                        <li class="followuser d-flex">
                            <div class="image">
                            <img class="rounded-circle account-img" src="{{user.profile.image.url}}" height="66"
                                width="66" />
                            </div>
                            <div class="username ml-3 pt-2" >
                                
                            <a class="username" style="color: black;text-decoration: none;"
                                href="{{user.profile.all_}}">{{user.username}}</a>
                            </div>
                            <div class="follow ml-5 pt-2"></div>
                            <div class="follow ml-5 pt-2">
                                <a style="color: black;text-decoration: none;" href="/follow/follow/{{profile.user.id}}/">{{user.follow}}follow</a>
                            <!-- <a href="{{user.profile}}">Follow</a> -->
                            </div>
                        </li><br>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
    <style>
        .sidebar {
        position: relative;
        height: 400px;
        width: 320px;
        float: right;
        overflow: hidden;
        min-height: 600px;
        }
        .sidebar h5 .user {
        color: black;
        text-decoration: none;
        }
        @media only screen and (max-width: 768px) {
        .sidebar {
        display: none;
        }
        }
    </style>
    
    </div>
    </div>

    {% endblock content %}