{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/6.1.1/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<!-- *****************STORY SECTION**************** -->
<section class="content container">
    <div class="d-flex">
        <div class="col-md-6">
            <!-- **********************POST SECTION********************** -->
            <div class="media content-section card" style="margin-left: 5%;">
                {% for post in posts %}
                <div class="d-flex">
                    <div class="user-image ml-2 mt-2">
                        <img class="rounded-circle article-image" src="{{post.user.profile.image.url}}" alt=""
                            width="45" height="45">
                    </div>
                    <h5 class="ml-2 pt-3">
                        <small><strong>{{post.user}}</strong></small>
                    </h5>
                </div>
                <p></p>
                <div class="media-body">
                    <a href="{% url 'post-detail' post.id %}"><img class="image-responsive" src="{{ post.picture.url }}"
                            alt="Post" style="width: 500px; height: 348px; object-fit: cover;"></a>
                    <p></p>
                    <div class="d-flex">
                        <div class="like-button ml-3">
                            <a href="{% url 'like' operation='like' pk=post.id%}"><img
                                    src="{% static 'images/love.png' %}" alt="" width="25"></a>
                        </div>
                        <div class="comment-button ml-3">
                            <a href="{% url 'comment' pk=post.id %}"><img src="{% static 'images/comment.png' %}" alt=""
                                    width="25"></a>
                        </div>
                         <div class="send-button ml-3">
                             <a href="#"><img src="{% static 'images/send.png' %}" alt="" width="25"></a>
                         </div>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="like-section">
                        {% if post.likes >= 1 %}
                        <label class="ml-3">Liked by: {{post.likes}}</label>
                        {% endif %}
                        <p><strong class="ml-3">{{post.user}} </strong>{{post.caption}}</p>
                        {% for comment in comments %}
                        {% if post.id == comment.post.id %}
                        <p><strong>{{comment.user}}</strong> {{comment.comment}}</p>
                        {% endif %}
                        {%endfor%}
                        {{form.media}}
                        <form action="{%url 'comment' pk=post.id %}" method="post" enctype="multipart/form-data"
                            id="comment">
                            {%csrf_token%}
                            {% for field in form %}
                            {% bootstrap_field field %}
                            {% endfor %}
                        </form>
                        {% block scripts %}
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                        {% bootstrap_javascript %}
                        {% endblock %}
                    </div>
                    <!-- <div class="media-body ml-3 pt-3">
                        <p>Liked by: <p>{{post.like.count}}</p>{{post.likes}}</p>
                    </div> -->
                </div>
                <small class="text-muted ml-3">{{ post.posted|timesince}} ago</small>
                <p></p>
                <form action="{%url 'comment' pk=post.id%}" class="form-group ml-1 p-8 d-flex">
                    <input type="text" class="form-control pl-5 pr-5" placeholder="Add a comment">
                    <span><button class="btn btn-info" value="comment">Post</button></span>
                    <hr>
                </form>
                <hr>
                {% endfor %}
            </div>
            <p></p><br>
        </div>

    <!-- **********SIDE MENU********* -->
    <div class="col-md-6">
        <div class="sidebar-right">
            <div class="sidebar sidebar-sticky" style="padding: 0 40px;">
                <div class="d-flex">
                    <div class="d-flex">
                        <div class="user-image ml-2">
                            <img class="rounded-circle article-image" src="{{request.user.profile.image.url}}" alt=""
                                width="48" height="48">
                        </div>
                        <h5 class="ml-2 pt-2">
                            <small><strong>{{post.user}}</strong></small>
                        </h5>
                    </div>
                    <div class="username ml-3 pt-2">
                        <span>{{user.username}}</span><br>
                        <span class="text-secondary">{{user.username}}</span>
                    </div>
                     <div class="form-group ml-3 pt-2">
                         <a href="{% url 'update_profile' %}"><button class="form-btn btn-md" type="submit"
                                 value="Update">Edit Profile</button></a>
                    </div>
                </div>
                <br>
                <div class="d-flex justify-content-around">
                    <div class="side-menu__suggestions-header">
                        <h6 class="text-secondary">Suggestions for You</h6>
                    </div>
                    <div class="see_all">
                        <small><a class="user-button">see all</a></small>
                    </div>
                </div>
                 <a href="/follow/follow/{{profile.user.id}}/"
                     class="btn btn-outline-secondary btn-sm">{{follow}}follow</a>
                 <a href="/follow/unfollow/{{profile.user.id}}/"
                     class="btn btn-outline-secondary btn-sm">{{unfollow}}unfollow</a>

                <div class="side-menu__suggestions-content">
                    {% for user in users %}

                    <!-- {%for userone in users%}
                    {% if userone != current_user%}
                    <li class="followuser">
                        <img src="{{userone.profile.profile_image.url}}" />
                        <a class="username" href="{{userone.profile.profile_}}""">{{userone.username}}</a>
                        <a href="{{user.profile}}">Follow</a>
                    </li>
                    {%endif%}
                    {%endfor%} -->

                    {% if user != current_user %}
                    <div class="side-menu__suggestion">
                        <a href="{% url 'profile' user %}" target="_blank" class="side-menu__user-avatar">
                            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}"
                                alt="course image" height="100" width="100">
                        </a>
                        <a href="{% url 'profile' user %}" class="side-menu__suggestion-avatar">
                            <img src="{{user.profile.image.url}}" alt="User Picture">
                        </a>
                        <div class="side-menu__suggestion-info">
                            {% if user.profile.first_name %}
                            <a href="{% url 'profile' user %}">{{user.profile.first_name|title}}
                                {{user.profile.last_name|title}}</a>
                            {% else %}
                            <a href="{% url 'profile' user %}">{{user.username}}</a>
                            {% endif %}
                            <span>@{{user.username}}</span>
                        </div>

                        {% if follow_status == True %}
                        <a href="{% url 'follow' user 0 %}" class="side-menu__suggestion-button">Follow</a>
                        {% else %}
                        <a href="{% url 'follow' user 1 %}" class="side-menu__suggestion-button">Follow</a>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
    </div>
    </div>

    {% endblock content %}